.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #D74343 !important;
    border: #D74343 !important;
}

.card {
    box-shadow: none !important;
}
.content-wrapper {
    background-color: #ffffff !important;
}

.nav-sidebar>.nav-item>.nav-link.active {
    background-color: #D74343 !important;
    border: #D74343 !important;
}